
@{
    ViewBag.Title = "Index";
}

<h2>Adminpagina</h2><hr />

<div class="btn-dark btn-lg d-lg-inline-block text-white">@Html.ActionLink(linkText: "Beheer Gebruikers", actionName: "Index", controllerName: "ApplicationUsers", routeValues: null, htmlAttributes: new { @class = "text-white" })</div><hr />

<div class="btn-dark btn-lg d-lg-inline-block text-white">@Html.ActionLink(linkText: "Beheer Rollen", actionName: "Index", controllerName: "Role", routeValues: null, htmlAttributes: new { @class = "text-white" })</div><hr />

<div class="btn-dark btn-lg d-lg-inline-block text-white">@Html.ActionLink(linkText: "Beheer Departementen", actionName: "Index", controllerName: "Departments", routeValues: null, htmlAttributes: new { @class = "text-white" })</div><hr />

<div class="btn-dark btn-lg d-lg-inline-block text-white">@Html.ActionLink(linkText: "Beheer Opleidingen", actionName: "Index", controllerName: "Programs", routeValues: null, htmlAttributes: new { @class = "text-white" })</div><hr />

