
@{
    ViewBag.Title = "Welcome";
}

<h2>Bedankt om je te registreren!</h2>
<br />
<p class="alert-success">Om veiligheidsredenen moet je aanvraag manueel nagekeken worden, het kan even duren vooraleer je de juiste rechten hebt ontvangen.</p>

<div class="jumbotron" id="home-jumbotron">
    <h2>Hartelijk bedankt om mee te werken aan EhbEvo!</h2>
</div>

<div class="btn-dark btn-lg d-lg-inline-block text-white">@Html.ActionLink(linkText: "Terug naar Home", actionName: "Index", controllerName: "Home", routeValues: null, htmlAttributes: new { @class = "text-white" })</div>

